---
import mobileImage from '../assets/image-product-mobile.jpg'
import desktopImage from '../assets/image-product-desktop.jpg'
import cartSVG from '../assets/icon-cart.svg'
---

<div class="grid flex-grow place-items-center bg-orange-100 p-2">
	<div>
		<div class="max-w-sm overflow-hidden rounded-2xl font-mont md:flex md:max-w-2xl">
			<img class="md:hidden" src={mobileImage.src} alt="" />
			<img class="hidden max-w-[50%] md:block" src={desktopImage.src} alt="" />
			<div class="grid gap-6 bg-white p-6 md:p-10">
				<h4 class="tracking-[0.25em] text-gray-500">PERFUME</h4>
				<h3 class="font-fraun text-3xl font-bold leading-none text-gray-900 md:text-4xl">
					Gabrielle Essence Eau De Parfum
				</h3>
				<p class="text-lg text-gray-500">
					A floral, solar, and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator
					for the House of CHANEL.
				</p>
				<div class="flex items-center gap-4">
					<p class="text-4xl font-bold text-green-800">$149.99</p>
					<p class="text-gray-500 line-through">$169.99</p>
				</div>
				<button
					class="flex items-center justify-center gap-4 rounded-xl bg-green-800 p-4 text-lg font-bold text-white hover:bg-green-900"
					type="button"
				>
					<img src={cartSVG.src} alt="" />
					 Add to Cart
				</button>
			</div>
		</div>
	</div>
</div>
